<div id="<%= dom_id contribution %>">
  <p>
    <strong>User:</strong>
    <%= contribution.user_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= contribution.amount %>
  </p>

  <p>
    <strong>Contribution date:</strong>
    <%= contribution.contribution_date %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= contribution.event_id %>
  </p>

</div>
