<div id="<%= dom_id feedback %>">
  <p>
    <strong>User:</strong>
    <%= feedback.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= feedback.event_id %>
  </p>

  <p>
    <strong>Feedback text:</strong>
    <%= feedback.feedback_text %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= feedback.rating %>
  </p>

</div>
