<div id="<%= dom_id vote %>">
  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

  <p>
    <strong>Event:</strong>
    <%= vote.event_id %>
  </p>

  <p>
    <strong>Vote date:</strong>
    <%= vote.vote_date %>
  </p>

  <p>
    <strong>Venue preference:</strong>
    <%= vote.venue_preference %>
  </p>

  <p>
    <strong>Activity preference:</strong>
    <%= vote.activity_preference %>
  </p>

</div>
